
#lv_review_form fieldset {
	margin: 0px 8px 5px 0px;
	padding: 0px;
	border: 0px;
}

#lv_review_form legend {
	margin-bottom: 3px;
}

#lv_review_form .lv_warning {
	margin: 5px 120px 5px 0px;
	background-color: #FFFFE0;
	border: 1px solid #E6DB55;
	-moz-border-radius: 3px;
	padding: 0 0.6em;
}

fieldset#lv_vcard {
	margin: 0px;
}

fieldset#lv_vcard p {
	margin-bottom: 5px;
}

#review-name, #review-url, #review-tags, #review-username {
	width: 100%;
	margin: 0px;
	padding: 3px;
}

#lv_review_form fieldset#lv_review_rating {
	margin: 0px 5px 0px 20px;
	float: right;
	width: 102px;
}

#lv_review_form {
	margin: 10px 0px;
}

#lv_review_form p.nonessential {
	color: #999;
	font-size: 11px;
	text-align: right;
}

#lv_review_name {
	margin-bottom: 5px !important;
}

#review-stars {
	background: url( 'images/0outof5.gif' ) left top no-repeat;
	height: 27px;
	padding: 2px;
	width: 102px;
}

#review-stars input, #review-stars span {
	display: block;
	position: absolute;
	top: -999px;
}

#review-stars {
	margin: 0px;
	padding: 0px;
}

#review-stars label {
	border: 0px;
	display: block;
	height: 25px;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	width: 20px;
}

#review-stars li {
	display: inline;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#hreview_checkbox, #vcard_checkbox {
	margin-bottom: 0.5em;
	padding-left: 0.3em;
	float: left;
	width: 18em;
}

#lv_vcard_form p {
	width: 49.5%;
	float: left;
	margin: 0px !important;
}

#lv_vcard_form p label {
	padding-left: 0.3em;
}

#lv_vcard_form input {
	width: 96.5%;
}

.freshbox {
	margin: 10px 10px 5px 20px;
	border: 0px;
}
